:root {
  /* UTILITY */
  --header-height: 64px;
  --input-height: 40px;

  //* FONTS *//
  --font-size-xs: 10px;
  --font-size-s: 12px;
  --font-size-normal: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xlg: 20px;
  //* END FONTS *//

  //* RADIUS *//
  --radius-xxxs: 2px;
  --radius-xxs: 4px;
  --radius-xs: 8px;
  --radius-s: 10px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xlg: 40px;
  --radius-circle: 50%;
  //* END RADIUS *//

  //* BUTTONS *//
  --btn-nav-width: 44px;
  --btn-nav-height: 44px;
  --btn-nav-max-width: 40px;
  --btn-nav-action-width: 60px;
  --btn-nav-action-max-width: 120px;
  --btn-cta-height: 40px;
  //* END BUTTONS *//

  //* ICON *//
  --icon-xxxs: 10px;
  --icon-xxs: 12px;
  --icon-xs: 14px;
  --icon-s: 16px;
  --icon-md: 18px;
  --icon-lg: 20px;
  --icon-xlg: 22px;
  --icon-xxlg: 24px;
  --icon-xxxlg: 38px;
  --icon-J: 30px;
  --icon-K: 32px;
  --icon-M: 34px;
  //* END ICON *//

  //* SIZES *//
  --unit-min: 1px;
  --unit-def: 14px;

  --unit-xxxs: 2px;
  --unit-xxs: 4px;
  --unit-xs: 6px;
  --unit-s: 8px;
  --unit-md: 16px;
  --unit-lg: 24px;
  --unit-xlg: 28px;
  --unit-xxlg: 32px;
  --unit-xxxlg: 36px;
  --unit-J: 40px;
  --unit-K: 42px;
  --unit-M: 48px;
  --unit-G: 64px;

  --unit-V: 5px;
  --unit-X: 10px;
  --unit-XV: 15px;
  --unit-XX: 20px;
  --unit-XXV: 25px;
  --unit-XXX: 30px;
  --unit-XXXV: 35px;
  //* END SIZES *//

  /* END UTILITY */
}
