<ion-list>
  <ion-list-header>
    <span [ngStyle]="{background: getColor()}" class="point"></span>
    <ion-label color="medium">
      <strong>
        {{ column.name | uppercase}} ({{column.tasks.length}})
      </strong>
    </ion-label>
  </ion-list-header>
  <div cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event, column)">
    @for (task of column.tasks; track task){
    <app-task cdkDrag [cdkDragData]="task" [task]="task"></app-task>
    }
  </div>
</ion-list>
