<!-- LOGO -->
<app-logo />
<!-- END LOGO -->

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label color="medium">
        <h3>
          <strong>
            ALL BOARDS ({{ readBoards?.length }})
          </strong>
        </h3>
      </ion-label>
    </ion-list-header>

    <ion-menu-toggle autoHide="false">
      <!-- BOARD LIST -->
      @for (board of readBoards; track board.id) {
      <ion-item button *ngIf="readBoards?.length" lines="none"
        [ngClass]="{'activeItem': board.id === activeBoard.id,'hoverLight': (isDarkMode$ | async) !== true}"
        (click)="selectBoard(board.id)">
        <ion-icon aria-hidden="true" slot="start" size="small" name="clipboard-outline" class="mrg-y-8" />
        <ion-label [color]="(isDarkMode$ | async) !== true ? 'medium' : '' " class="fz-14 mrg-y-8 ion-text-nowrap">{{
          board.name }}</ion-label>
      </ion-item>
      }

      <!-- END BOARD LIST -->

      <!-- ADD NEW BOARD -->
      <ion-item button lines="none" (click)="add()">
        <ion-icon aria-hidden="true" slot="start" name="clipboard-outline" color="tertiary" size="small"
          class="mrg-y-8" />
        <ion-label color="tertiary" class="fz-14 mrg-y-8 ion-text-nowrap">
          <strong>{{ '+ Create New Board' }}</strong>
        </ion-label>
      </ion-item>
      <!-- END ADD NEW BOARD -->
    </ion-menu-toggle>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border bg-content ion-padding-bottom ">
  <!-- SWITCH THEME -->
  <app-theme-switcher />
  <!-- END SWITCH THEME -->

  <!-- HIDE SIDE MENU -->
  <ion-item button lines="none" (click)="closeSideMenu()">
    <ion-icon aria-hidden="true" slot="start" name="eye-off" color="medium" size="small" class="mrg-y-8" />
    <ion-label color="medium" class="fz-14 mrg-y-8 ion-text-nowrap">
      <strong>{{ 'Hide Side Bar' }}</strong>
    </ion-label>
  </ion-item>
  <!-- END HIDE SIDE MENU -->
</ion-footer>
