<!-- LOGO -->
<app-logo />
<!-- END LOGO -->

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label color="medium">
        <h3>
          <strong>
            {{ listTitle }}
          </strong>
        </h3>
      </ion-label>
    </ion-list-header>

    <ion-menu-toggle autoHide="false" *ngFor="let item of appPages; let i = index">
      <!-- BOARD LIST -->
      <ion-item *ngIf="!item.hasButtonAdd && appPages.length" lines="none" detail="false" routerDirection="root"
        [routerLink]="[item.url]" [ngClass]="{'activeItem': i === selectedIndex}" (click)="setSelectedIndex(i)">
        <ion-icon aria-hidden="true" slot="start" size="small" name="clipboard-outline" class="mrg-y-8" />
        <ion-label class="fz-14 mrg-y-8">{{ item.title }}</ion-label>
      </ion-item>
      <!-- END BOARD LIST -->

      <!-- ADD NEW BOARD -->
      <ion-item button *ngIf="item.hasButtonAdd || !appPages.length " lines="none" detail="false"
        (click)="openAddNewBoard()">
        <ion-icon aria-hidden="true" slot="start" name="clipboard-outline" color="tertiary" size="small"
          class="mrg-y-8" />
        <ion-label color="tertiary" class="fz-14 mrg-y-8">
          <strong>{{ item.title }}</strong>
        </ion-label>
      </ion-item>
      <!-- END ADD NEW BOARD -->
    </ion-menu-toggle>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border bg-content ion-padding-bottom ion-padding-horizontal">
  <!-- SWITCH THEME -->
  <div class="dark-mode">
    <ion-item lines="none" class="min-height-auto">
      <ion-icon name="sunny" slot="start" color="medium" />
      <ion-toggle aria-label="Appearance" labelPlacement="start" alignment="center" mode="ios" color="main">
      </ion-toggle>
      <ion-icon name="moon" slot="end" color="medium" />
    </ion-item>
  </div>
  <!-- END SWITCH THEME -->

  <!-- HIDE SIDE-MENU -->
  <ion-button (click)="hideSideMenu()" fill="clear" expand="block" color="medium" class="pdd-x-6">
    <ion-icon slot="start" name="eye-off"></ion-icon>
    Hide Sidebar
  </ion-button>
  <!-- END HIDE SIDE-MENU -->
</ion-footer>
